<div class="card">
  <%= link_to image_tag(post.image, class: :card__img ), post_path(post)%>
  
  <div class="card__body">  
    <%= link_to post.title, root_path, class: :card__title%>
  
    <p class="card__summary">
      <%= post.detail %>
    </p>
  <div class="post">  
    <div class="post-name">
     <%#= link_to "by #{post.user.name}", user_path(post.user)%>
    </div>
    <div id="like-btn <%= post.id %>">    
     <%= render partial: "likes/like", locals: { post: post } %>
    </div>
  </div>

  </div>
</div>