<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @post.title %>
      </p>

      <%= link_to "by #{@post.user.name}", user_path(@post.user.id), class: :post__user %>
       <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class="post__manage">
          <%= link_to "編集", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>
       <% end %>

      <div class="post__image">
        <%= image_tag(@post.image, class: :card__img) %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="post__title">DETAIL</p>
          <p class="post__message">
            <%= @post.detail %>
          </p>
      </div>    
        </div>

      <div class="post__comments">
       <% if user_signed_in? %>
          <%= form_with model: [@post,@comment], local: true do |f|%>
            <div class="field">
              <%= f.label :content, "COMMENT" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "SEND", class: :form__btn  %>
            </div>
          <% end %>
       <% end %>

        <ul class="comments_lists">
         <% @post.comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
            </li>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>