<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @post.title %>
      </p>

      <%= link_to "by #{@post.user.name}", user_path(@post.user.id), class: :post__user %>
        <div class="post__manage">
          <%= link_to "編集", edit_post_path(@post.id), class: :post__btn %>
          <%= link_to "削除", post_path(@post.id), method: :delete, class: :post__btn %>
        </div>

      <div class="post__image">
        <%= image_tag(@post.image, class: :card__img) %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="post__title">DETAIL</p>
          <p class="post__message">
            <%= @post.detail %>
          </p>
      
  </div>
</main>